.devcontainer
.vscode
build
esp-idf-lib
managed_components
web/node_modules
web/config
web/scripts
web1/node_modules
web1/config
web1/scripts
web_copy/node_modules
web_copy/config
web_copy/scripts
debug.log
dependencies.lock
.DS_Store