/* MEDIA QUERIES */

@media only screen and (max-width: 800px)
{
  .card-collection{
    /* grid-template-columns: repeat(2, calc(50% - 10px));*/
    grid-template-columns: repeat(2, 1fr); 
  }
}
@media only screen and (min-width: 800px) {
  .card-collection{
    grid-template-columns: 1fr 1fr 1fr;
  }
}

:root{
  --back:black;    
  --control-ui-back: #606060;
  --control-btn-col:#808080;
  --on: rgb(139,201,150);
  --off: rgb(231,140,138);
  --text-col: whitesmoke; 
  --slider-backcol:white;
  --thumb-col:#0a80ff;
  --slider-range-col: #0a80ff; 
  --slider-appearance: auto;
  --textarea-backcol:whitesmoke;
  --textarea-col:black;
  --menu-backcol:black;
  --device-select-backcol:rgb(235, 168, 73);
  --html-font-size:18px;
  --card-backcol:#8080807a;
  /* --card-width: calc(50vw - 20px); */
  --card-width: calc(155px);
  --preview-img-width: 50px;
  --preview-img-border-col: #4a4a4a;
  --sequence-ui-back: #4a4a4a7a;
}

/* ICONS SUPPORT */
/* @font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 100...800;
  src: url('./icons.woff2') format('woff2');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: var(--html-font-size);
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  font-feature-settings: 'liga';
} */

.bw-icon{
  filter: invert();
  aspect-ratio: 1/1;
  transition: all 0.3s ease-in-out;
}

html{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: lighter;
  font-size: var(--html-font-size);
  color:var(--text-col)
}

body{
  overflow-x: hidden;
  user-select: none;
  display: block;
  height: 100%;
  flex-direction: column;
  background-color: var(--back);  
  max-width: 100vw;
  margin: 0;
  padding: 0;
}

#root{
  display: flex;
  align-self: center;
  flex-direction: column; 
  max-width: 100%;
  /* width: auto; */
  margin: 10px;
  /* padding: 5px; */
  gap:15px
}

.control-ui{
  display: grid;

  grid-template-columns: repeat(12, 1fr);
  gap: 15px;
  width: 100%;
}

/* COMMON*/

.input-label{
  align-self: flex-start;
}

.wrap{
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;
  gap:5px;
  grid-column: span 12;
}

/* SLIDER */
.slider-input{
  width: 100%;
  font-weight: 300;
}

input[type="range"]{
  appearance: var(--slider-appearance);
  background-color: var(--slider-backcol);
  height: 10px;
  margin: 0;
}

input[type="range"]::-webkit-slider-thumb {
  appearance: none;
  margin-top: 0px;
  width: 15px;
  height: 15px;
  border-radius: 3px;
  cursor: pointer;
  color:var(--thumb-col);
  background-color: var(--thumb-col);
} 

/*COLORPICKER*/
.colorpicker-wrap{
  grid-column: span 6;
}

.colorpicker-panel{
  width: 100%;

  display: grid;
  justify-items: center;
  padding: 10px 0px 10px 0px;
  border-radius: 2px;
}

.colorpicker-input{
  width: 90%;
  height: 90%;
}

.colorpicker-panel > * {
  grid-column-start: 1;
  grid-row-start: 1;
}

span.colorpicker-palette{
  display: flex;
  height: 1.5rem;
}

input[type="color"]{
  opacity: 0;
  margin: 0px;
}

/*CHECKBOX*/
.checkbox-input{
  align-self: flex-start;
}

[type="checkbox"] {
  position: relative;
  left:-4px;
  width: 30px;
  height: 30px;    
  border-radius: 2px;
}

/*TEXTAREA*/
.textarea-input{
  background-color: var(--textarea-backcol);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 600;
  color:var(--textarea-col);    
  width: 100%;   
  height: 1.5rem;
  border: none;
  border-radius: 2px;
  text-align: center;
}

input[type="text"], input[type="number"]
{
  padding: 10px 0px 10px 0px;
  margin: 0px;
  font-size: 1.5rem;
  line-height: 1;  
}

/*TIMEPICKER*/
.timepicker-wrap{
  grid-column: span 6;
}

.timepicker-input{
  background-color: var(--textarea-backcol);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 600;
  font-size: 1.2rem;
  color:var(--textarea-col);    
  width: 100%;   
  border: none;
  border-radius: 2px;
  text-align: center;
}

input[type="time"]
{
  padding: 10px 0px 10px 0px;
  margin: 0px;
  font-size: 20px;
}

/*SELECT*/
.select-input{
  background-color: var(--textarea-backcol);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 600;
  font-size: 1.2rem;
  color:var(--textarea-col);    
  width: 100%;   
  border: none;
  border-radius: 2px;
  text-align: center;
  padding: 10px 0px 10px 0px;
}

/* NUMBERAREA */
.numberarea-wrap{
  grid-column: span 6;
}

/* BUTTON */
.button{
  grid-column: span 12;
  font-size: 1.2rem;
  width: 100%;   
  padding: 10px 0px 10px 0px;
  border: none;
  border-radius: 2px;
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 600;
  color: whitesmoke;
}

/*NAVIGATION*/
.nav-header{
  display: flex;
  flex-direction: column;
  justify-items: center;

  width: 100%;
}

.nav-title{
  text-align: center;
  margin: 0;
  margin-top: 10px;
}

.nav-menu-icon{
  position: fixed;
  left: 7px;
  font-size: 1.8rem;
  width: min-content;
  height: min-content;
  text-align: center;
  z-index: 300;
}

.drawer-wrap{
  display: flex;
  flex-direction: column;
  justify-items: center;

  filter: none;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;  

  z-index: 999;
  background-color: #000000b9;
  backdrop-filter: blur(5px);

  transition: backdrop-filter 100ms, background-color 100ms ease-in;
}

.drawer-wrap-enter{
  opacity: 1;  
  transform: translateX(-100%); 
  backdrop-filter: none;
  background-color: #00000000;
  transition: none;
}

.drawer-wrap-enter-active{  
  opacity: 1;
  backdrop-filter: none;
  background-color: #00000000;
  transform: translateX(0); 
  transition: all .2s;  
}

.drawer-wrap-exit{
  opacity: 1;
  backdrop-filter: none;
  background-color: #00000000;
  transition: none;
}

.drawer-wrap-exit-active{
  opacity: 0;
  transform: translateX(-100%);
  transition: all .3s; 
}

.drawer{
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  width: 70%;
  height: 100%;
  background-color: black;
  margin: 0;
  padding: 5px;
}

.drawer-list{
  display: flex;
  flex-direction: column;
  justify-items: left;

  width: 80%;
  height: 100%;
  background-color: black;
  margin: 15px 0 0 0;
  padding: 5px;

  list-style: none;
}

.drawer-title{
 align-self: center;
 justify-self: flex-start;
 font-size: 2rem;
 margin: 10px 0 0 0;
 padding: 0;
}

.drawer-option, .drawer-href{
  text-align: left;
  text-decoration: none;
  color: white;
  font-size: 1.3rem;
}

.drawer-option{
  width: 100%;
  height: 2rem;
  padding: 5px;  
  border-bottom: solid 1px #aaa;
}

.drawer-close-icon{
  position: fixed;
  align-self: flex-end;
  font-size: 1.8rem;
  font-weight: 500;
  display: flex;
}

/* CARDS */
.card-collection{
  width: 100%;
  display: grid;
  /* grid-template-columns: 1fr 1fr; */
  box-sizing: border-box;
  gap: 10px;
  height: 100%;
}

.card{
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-self: center;
  padding: 10px;
  background-color: var(--card-backcol);
  border-radius: 6px;
  width: var(--card-width);

  user-select: none;
  /* box-sizing: border-box; */
}

.card-title{
  text-align: center;
  margin: 0;
  font-size: 0.8rem;
  margin-bottom: 5px;
}

.card-img{
  width: var(--card-width);
  height: var(--card-width);
  border-radius: 2px;
}

.effect-ui-wrapper, .template-ui-wrapper{  
  position: fixed;   
  display: flex;
  flex-direction: column-reverse;
  left: 0;
  right: 0;
}

.effect-ui-wrapper, .template-ui-wrapper{
  max-width: 800px;
  height: 100%;  
  backdrop-filter: blur(5px); 
  top: 0;

  transition: backdrop-filter 100ms;
  z-index: 500;
  overflow-y: scroll !important;
}

.effect-ui, .template-ui{
  /* position: absolute; 
  left: 0;
  right: 0;
  bottom: 0; */

  display: flex;
  flex-direction: column;

  align-self: flex-start;
  background-color: var(--control-ui-back);
  padding: 15px;  
  padding-top: 5px;

}

.effect-ui{
  min-height: 30%;
  height: auto;
  width: 100%;
  box-sizing: border-box;
}

.template-ui{
  height: auto;
}

.template-close-icon{
  z-index: 200;
  position: static;
  justify-self: right;
  font-size: 2rem;
}

.template-relative{
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.effect-ui-enter, .template-ui-enter{
  backdrop-filter: none;
  transition: none;
  opacity: 0;  
  transform: translateY(100%); 
}

.effect-ui-enter-active, .template-ui-enter-active{  
  opacity: 1;
  transform: translateY(0); 
  transition: all .3s;  
}

.effect-ui-exit, .template-ui-exit{
  opacity: 1;
}

.effect-ui-exit-active, .template-ui-exit-active{
  opacity: 0;
  transform: translateY(100%);
  transition: all .3s; 
}

/* PREVIEW */
.text-sequence
{
  position: relative;
  display: block;
  width: var(--card-width);
  height: var(--card-width);
}

.preview-img{
  display: flex;
  position: absolute;
  /* border: 5px solid var(--preview-img-border-col);
  box-sizing: border-box;
  border-style: outset; */
}

.preview-text{  
  width: 100%;
  margin: 0;
  padding: 0 10% 0 10%;
  /* font-size: 7rem; */
  font-weight:  400;
  overflow: hidden;
  text-align: center;
  white-space: nowrap;
  font-family: monospace;
  align-self: center;
}

.preview-clip{
  background-clip: text;
  -webkit-background-clip: text;
}

/* SEQUENCE */

.sequence-ui{
  background-color: var(--sequence-ui-back);
  border-radius: 5px;
  padding: 10px;
  z-index: 101;
  box-sizing: border-box;
}

/* .text-sequence div.card-img.preview-img:nth-child(0)
{
  transform: scale(0.7);
} */

/* FILTER PROPS */
.filter-wrap{
  grid-column: span 6;
}

.filter-icon{
  transition: all 0.3s ease-in-out;
  font-size: 1.5rem;
  line-height: 1.5rem;
  position: relative;
  bottom: -0.4rem;
}

/* SETTINGS */
.settings-card{
  width: auto;
}

.settings-card-title{
  font-size: 1.4rem;
}